<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>

<header>

  <form method="GET" th:action="@{/shop}">
    <button type="submit">Home</button>
  </form>

  <form sec:authorize="isAuthenticated()" th:action="@{/shop/account}">
    <button type="submit">Konto</button>
  </form>

  <form sec:authorize="isAuthenticated()" th:action="@{/shop/account/history}">
    <button type="submit">Twoje Zamówienia</button>
  </form>

  <form method="GET" th:action="@{/shop/shopping-cart}">
    <button type="submit">Koszyk</button>
  </form>

  <form sec:authorize="hasRole('ADMIN')" th:action="@{/shop/admin/categories}">
    <button type="submit">Kategorie</button>
  </form>

  <form sec:authorize="hasRole('ADMIN')" th:action="@{/shop/admin/commodities}">
    <button type="submit">Towary</button>
  </form>

  <form sec:authorize="hasRole('ADMIN')" th:action="@{/shop/admin/employees}">
    <button type="submit">Pracownicy</button>
  </form>

  <form sec:authorize="hasRole('ADMIN')" th:action="@{/shop/admin/orders}">
    <button type="submit">Zamówienia</button>
  </form>

  <form sec:authorize="isAuthenticated()" method="POST" th:action="@{/shop/logout}">
    <button type="submit">Wyloguj</button>
  </form>

  <form sec:authorize="!isAuthenticated()" method="GET" th:action="@{/shop/login}">
    <button type="submit">Logowanie</button>
  </form>

</header>

</body>
</html>
