<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>

<header>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
      <a class="navbar-brand col" th:href="@{/shop}">Shop</a>
      <button class="navbar-toggler col" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form th:action="@{/shop}" method="POST" th:object="${searchingParams}" class="d-flex col"
              role="search">

          <input type="search" th:field="*{name}" name="name" placeholder="Nazwa"
                 class="form-control me-2" aria-label="Search">

          <select class="form-select" name="categoryId">
            <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
          </select>


          <button class="btn btn-outline-primary" type="submit">Szukaj</button>

        </form>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item col">
            <a class="nav-link active" aria-current="page" th:href="@{/shop/shopping-cart}">Koszyk</a>
          </li>

          <li class="nav-item dropdown col" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Konto użytkownika
            </a>

            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" th:href="@{/shop/account}">Twoje konto</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/shop/account/history}">Zamówienia</a></li>
            </ul>

          </li>

          <li class="nav-item dropdown col" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Konto admina
            </a>

            <ul class="dropdown-menu"  sec:authorize="isAuthenticated()">
              <li><a class="dropdown-item" th:href="@{/shop/admin/categories}">Kategorie</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/shop/admin/commodities}">Towary</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/shop/admin/employees}">Pracownicy</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/shop/admin/orders}">Zamówienia</a></li>
            </ul>

          </li>

          <li sec:authorize="isAuthenticated()" class="nav-item col">
            <form method="POST" th:action="@{/shop/logout}">
              <button type="submit" class="nav-link active" aria-current="page">Wyloguj</button>
            </form>
          </li>

          <li sec:authorize="!isAuthenticated()" class="nav-item col">
            <a class="nav-link active" aria-current="page" th:href="@{/shop/login}">Logowanie</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</header>

</body>
</html>
