<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cash Register</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<div id="container">

  <div th:each="item : ${bill.items}">

    <h5 th:text="${item.commodity.name} + ': ' + ${item.commodity.price} + ' * ' + ${item.amount} + ' = ' + ${item.price}"></h5>

    <div th:each="p : ${item.commodity.photos}">
      <img th:src="${p.url}" th:width="${p.width}" th:height="${p.height}"/>
    </div>

  </div>

  <h5 th:text="'Suma: ' + ${bill.sum}"></h5>

  <form method="POST" th:action="@{/shop/cash-register}">
    <fieldset>
      <legend>Adres:</legend>
      <div th:each="a : ${addresses}">
        <input type="radio" th:id="${a.id}" th:name="addressId" th:value="${a.id}">
        <label th:for="${a.id}">

          <h5 th:text="'ul. ' + ${a.street} + ' ' + ${a.buildingNumber}"><span th:if="${(a.apartmentNumber != null)}" th:text="'/' + ${a.apartmentNumber}"></span></h5>
          <h5 th:text="${a.zipCode} + ' ' + ${a.city} + ' ' + ${a.province}"></h5>

        </label>
      </div>
    </fieldset>
    <button type="submit">Zamawiam</button>
  </form>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
