<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Cash Register</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<div id="container">

  <ul>
    <li th:each="item : ${bill.items}">
      <h5 th:text="'Nazwa: ' + ${item.commodity.name}"></h5>
      <h5 th:text="'Cena szt: ' + ${item.commodity.price}"></h5>
      <h5 th:text="'Ilość: ' + ${item.amount}"></h5>
      <h5 th:text="'Cena: ' + ${item.price}"></h5>

      <div th:each="p : ${item.commodity.photos}">
        <img th:src="${p.url}" th:width="${p.width}" th:height="${p.height}"/>
      </div>

    </li>
  </ul>
  <h2 th:text="'Suma: ' + ${bill.sum}"></h2>

  <form method="POST" th:action="@{/shop/cash-register}">
    <fieldset>
      <legend>Adres:</legend>
      <div th:each="a : ${addresses}">
        <input type="radio" th:id="${a.id}" th:name="addressId" th:value="${a.id}">
        <label th:for="${a.id}">
          <h4 th:text="${a.street} + ' ' + ${a.buildingNumber} + ' ' + ${a.apartmentNumber}"></h4>
          <h4 th:text="${a.zipCode} + ' ' + ${a.city}"></h4>
          <h4 th:text="${a.province}"></h4>
        </label>
      </div>
    </fieldset>
    <button type="submit">Zamawiam</button>
  </form>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
