<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<div id="container">

  <form th:action="@{/shop}" method="POST" th:object="${searchingParams}">

    <input type="text" th:field="*{name}" name="name" placeholder="Nazwa">

    <select name="categoryId">
      <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
    </select>

    <button type="submit">Szukaj</button>

  </form>

  <h5 th:if="${(commodities.size == 0)}">Brak towarów</h5>
  <ul>
    <li th:each="c : ${commodities}">
      <a th:href="@{'/shop/commodities/' + ${c.id}}" th:text="${c.name}"></a>
      <h5 th:text="'Cena: ' + ${c.price}"></h5>
      <div th:each="p : ${c.photos}">
        <img th:src="${p.url}" th:width="${p.width}" th:height="${p.height}"/>
      </div>
    </li>
  </ul>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
