<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Link Sent info</title>
</head>
<body>

<header>

  <form method="GET" th:action="@{/shop}">
    <button type="submit">Home</button>
  </form>

  <form sec:authorize="!isAuthenticated()" method="GET" th:action="@{/shop/login}">
    <button type="submit">Logowanie</button>
  </form>

</header>

<div id="container">

  <h1>Na adres: <span th:text="${email}"></span> wysłano link do zmiany hasła.</h1>

</div>

<footer>
  &copy; 2025 r. Michał Zdziennicki Projekt: sklep internetowy
</footer>

</body>
</html>
