<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Password reset</title>
</head>
<body>

<header>

  <form method="GET" th:action="@{/shop}">
    <button type="submit">Home</button>
  </form>

  <form sec:authorize="!isAuthenticated()" method="GET" th:action="@{/shop/login}">
    <button type="submit">Logowanie</button>
  </form>

</header>

<div id="container">

  <form th:action="@{/shop/password-reset}" method="POST">
    <h2>Resetowanie hasła</h2>

    <input type="text" name="username" placeholder="e-mail"/>
    <button type="submit">Resetowanie hasła</button>

  </form>

</div>

<footer>
  &copy; 2025 r. Michał Zdziennicki Projekt: sklep internetowy
</footer>

</body>
</html>
