<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<div id="container">

  <div th:each="item : ${bill.items}">
    <h5 th:text="${item.commodity.name} + ': ' + ${item.commodity.price} + ' * ' + ${item.amount} + ' = ' + ${item.price}"></h5>

    <form th:action="@{'/shop/shopping-cart/' + ${item.commodity.id}}" method="post">
      <input type="number" name="amount" placeholder="ilość" step="1" min="1" required>
      <button type="submit">Aktualizuj ilość</button>
    </form>

    <div th:each="p : ${item.commodity.photos}">
      <img th:src="${p.url}" th:width="${p.width}" th:height="${p.height}"/>
    </div>

    <form th:action="@{'/shop/shopping-cart/' + ${item.commodity.id}}">
      <button type="submit">Usuń z koszyka</button>
    </form>

  </div>

  <h5 th:text="'Suma: ' + ${bill.sum}"></h5>

  <form sec:authorize="isAuthenticated()" th:action="@{/shop/cash-register}">
    <button type="submit">Do kasy</button>
  </form>

  <form sec:authorize="!isAuthenticated()" method="GET" th:action="@{/shop/login}">
    <button type="submit">Logowanie</button>
  </form>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
